{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}

<h3>This page is rendered by footer.html, index.html, footer.html. You can see it in templates folder.</h3>
<h3>Esta pagina esta rendida por footer.html, index.html, footer.html. Puede ver las en templates vado.</h3>
<br>
<a href="{{url_for('redirect_url_for')}}">url_for</a><br>
<a href="{{url_for('flash_message')}}">flash message</a><br>
<a href="{{url_for('sample_form')}}">sample form</a>

{% include "footer.html" %}
{% endblock %}